@font-face {
  font-family: Warcraft;
  src: url(fonts/LifeCraft_Font.ttf);
}

@font-face {
  font-family: WarcraftWeb;
  src: url(fonts/FrizQuadrataRegular.ttf);
}

body {
  background-color: black;
  font-family: WarcraftWeb;
  color: white;
}

#bgVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -100;
  transform: translate(-50%, -50%);
}

#myVideo1 {
 position: fixed;
 right: -150px;
 bottom: -150px;
 min-width: 100%;
 min-height:  100%;
}

#content {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  display: inline-flex;
}

.side {
  position: relative;
  display: table-row;
  width: 33%;
  overflow: hidden;
}

.side.central {
  text-align: center;
  height: 100%;
}

.side.central .row {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.side.central #title {
  position: relative;
  color: black;
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
}

.side.central #title h1 {
  margin: 0;
  padding: 0;
  font-family: Warcraft;
  font-size: 8vw;
  text-shadow: 3px 3px 5px rgba(0, 49, 93, 0.8);
}


.progress-bar {
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.boton-frame, .boton-text {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.boton-text {
  padding-top: 4.8%;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
}

.boton-frame img{
  width: 100%;
}

.flux {
  position: relative;
  padding-top: 2.5%;
}

.flux img {
  width: 89%;
}

.waves {
    height: 100%;
    width: 100%;
    position: relative;
    animation: animatedImage 8s linear infinite;
}

.waves img {
  height: 100%;
  width: 200%;
}

.flux .wrapper {
  width: 88%;
  margin-left: 6%;
  overflow: hidden;
}

@keyframes animatedImage {
    0% { left: 0%;}
   100% { left: -99%;}
}

#flag-alliance {
  height: 100%;
  width: 100%;
  position: relative;
}

#flag-alliance img {
  position: absolute;
  top: 0;
  height: 100%;
  margin-left: -50%;
  float: left;
}

#flag-horde {
  height: 100%;
  width: 100%;
  position: relative;
}

#flag-horde img {
  position: absolute;
  top: 0;
  height: 100%;
  margin-right: -50%;
}

#missions {
  position: absolute;
  z-index: 5;
  width: 95%;
  height: 75%;
  margin-top: -125%;
  margin-left: 12px;

  background: #1c1c1c;
  border-radius: 5px;
  box-shadow: 0 0 0 6px #F5EAC8, 0 0 0 12px #251C00;
  color: #F5EAC8;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  word-spacing: 3px;

  overflow: hidden;
}

#missions #map{
  height: 100%;
  width: 250%;
}

.mission-text {
  width: 100%;
  height: 90%;
  position: absolute;
  z-index: 6;
  padding-left: 2%;

  margin: 0;
  padding: 0;
  font-family: WarcraftWeb;
  font-size: 1.5vw;

  text-align: center;
}

.text-container {
  height: 75%;
}

.text-container p {
  font-size: 0.8vw;
  padding-left: 5%;
  padding-right: 5%;
}

.text-container h3 {
  font-size: 1vw;
}

#bartender {
  height: 25%;
}

#goblin {
  position: absolute;
  z-index:7;
  right: 0;
  height: 50%;
  bottom: -10%;
}

#dialog {
  position: absolute;
  width: 100%;
  height: 20%;
  z-index: 8;
  bottom: -5%;
  left: 0;
}

#dialog-text {
  position: absolute;
  height: 100%;
  z-index: 9;
  margin-bottom: -6%;
  color: black;
  padding-left: 10%;
  padding-top: 14%;
  font-size: 0.8vw;
  left: 0;
}

.fall {
  animation: chainfall 1.5s linear forwards;
}

@keyframes chainfall
{
  from { top: 0px;}
  to { top: 100%;}
}

@media all and (max-device-width:1025px),
       all and (max-width:1025px) {
  .side.left, .side.right {
    visibility: hidden;
  }

  .side.central {
    width:  200%;
  }

  #bgVideo {
    width: 400%;
  }

  .side.central #title h1 {
    font-size: 16vw;
  }

  .boton-text {
    font-size: 2.4vw;
  }

  #missions {
    margin-top: -220%;
  }

  .text-container p {
    font-size: 0.6vw;
  }

  .text-container h3 {
    font-size: 1vw;
  }

  @keyframes chainfall
  {
    from { top: 0px;}
    to { top: 120%;}
  }
}
